/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/data/
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/.phpunit.cache
/.env
/.env.*
/.fleet
/.idea
/.nova
/.zed
/.vscode
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal
npm-debug.log
yarn-error.log
/.phpactor.json
